<h1>{{name}}'s Profile</h1>
<form action="/profile/update" method="post">
    <!-- Display and edit user demographic information -->
    <input type="text" name="name" value="{{name}}"><br>
    <input type="text" name="email" value="{{email}}"><br>
    <input type="text" name="location" value="{{location}}"><br>
    <input type="number" name="age" value="{{age}}"><br>
    <!-- Add other fields as necessary -->
    <button type="submit">Update Profile</button>
</form>